# Python Data Types

In [7]:
4*4

16

In [8]:
4**2

16

In [9]:
x=4

In [18]:
y1=float(x**2)

In [19]:
y2=int(y)

In [20]:
y3=str(y)

In [21]:
y4=y1+y2

In [22]:
y4

32.0

In [23]:
type(y1)

float

In [24]:
type(y2)

int

In [25]:
type(y3)

str

In [27]:
y5=bool(y1)

In [28]:
y5

True

In [29]:
z=4

In [30]:
x==z

True

In [31]:
age=input("Enter your age: ")

Enter your age: 22

In [32]:
age

'22'

In [33]:
type(age)

str

In [34]:
age=int(age)

In [35]:
age

22

In [37]:
import math
y1s=math.sqrt(y1)

In [40]:
y1s

4.0

# Python Data Structures

In [45]:
# Lisits
mylist=[2,3,4,5,6,7,8,9,10,11,12]

In [46]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [48]:
type(mylist)

list

In [50]:
mylist2=[13,14,15,16,17,18,19,20]

In [51]:
type(mylist2)

list

In [58]:
mylist2

[13, 14, 15, 16, 17, 18, 19, 20, 21, 21]

In [61]:
type(mylist2)

list

In [62]:
mylist3=["Jennifer", "Dimitri", "Penny", "Alex", "Kat", "Leo", "Toby"]

In [63]:
mylist3

['Jennifer', 'Dimitri', 'Penny', 'Alex', 'Kat', 'Leo', 'Toby']

In [64]:
mylist4=["Jennifer", 51, "Mom"]

In [65]:
mylist
mylist2

[13, 14, 15, 16, 17, 18, 19, 20, 21, 21]

In [66]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [67]:
mylist+mylist2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 21]

In [68]:
mylist5=[2,3,4,5,6,7,8,9,10,11,12]

In [69]:
mylist+mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [70]:
mylistadd1=np.array(mylist)

In [73]:
mylistadd2=np.array(mylist5)

In [74]:
mylistadded=mylistadd1+mylistadd2

In [75]:
mylistadded

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [77]:
myaddedlist = []
for x in mylist:
    myaddedlist.append(x+x)

In [78]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [79]:
for x in mylist:
    add = x+x
    print(add)

4
6
8
10
12
14
16
18
20
22
24

In [80]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [81]:
mylist[3]

5

In [82]:
mylist[6]

8

In [84]:
mylist[-1]

12

In [88]:
#Tuples
mytuple = (2,3,4,5,6,7,8,9,10,11,12)

In [89]:
type(mytuple)

tuple

In [90]:
mytuple(3)

TypeError: 'tuple' object is not callable

In [93]:
mydictionary = {'FName':'Alex', 'Lname':'Tsiounis', 'age':22}

In [98]:
mydictionary['FName']

'Alex'

In [99]:
nations = {'pop':[20,10,9,8]}

In [100]:
nations['pop'][0]

20

In [101]:
lastlist = [1,2.0, 'Alex', [1,2,3,4],{'Burlington':'State'}]

In [1]:
x=12